/*-------------------
  this is font style  
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*------
 common
 -------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    
    
}
/*-------------
section style
--------------*/
section{
    margin-bottom:60px;
   
}
.top-bar{
    background-color: #2D25A0;
}
.topbar-main-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   

    
} 
.photo{
    margin-top: 100px; 
}
.photo img {
    width: 100%;
    height: 100%;
    

}
.topbar-main-div h1{
    color: floralwhite;  
    width: 485px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-left: 100px;
    margin-top: 100px;
}

.headline a{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 15px;
  }
  
  .headline a:hover {opacity: 1}

/*--------------------------
 first section style end
 ------------------------ */

.box-main-div {
    box-shadow: 2px 2px 2px 2px #e2e2e2;
    border-radius: 5%;
    padding: 20px 20px 20px 20px;
    width: 290px;
    height: 400px;
    margin-left: 88px;
    border-style: none;
    background-color: lavender;
   margin-bottom: 50px;
   

}
.box-main-div b{
    font-size: 24px;
}
.box-main{
   
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   
   
}
.box-section img{

    width: 100%;
    border-radius: 15px;
}
/*---------------
box style end 
---------------- */


/*------------------- 
last section style
------------------- */
.last-button{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 50px;
    border-radius: 15px;
  }
  
  .last-button:hover {opacity: 1}
  .mother-div{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
  }
  .mother-div img{
      width: 80%;
      border-radius: 6px;
  }
  .last-contant{
      width: 500px;
      margin-left: 100px;
  }
  .mother-div h1{
      width: 300px;
      font-size: 40px;
  }
  .footer-div{
     text-align: center;
  }
  footer img{
      width: 483px;
  }
/*------------------------- 
last section style end
-------------------------- */

 /*----------------------------------------- 
 this is header hover player hover style
 --------------------------------------- */
  .photo-frem:hover .photo{
    transform: scale(0.7);
    transition: transform 2s;

}
.photo-frem:hover{
   
    background-color: transparent;
}
.photo-frem {
    
    width: 500px;
    height: 500px;
    border-radius: 10px;
   
    margin: 15px;
    overflow: hidden;

}

.photo img {
    width: 100%;
    

}
/* -------------------------
header hover style end
--------------------------- */


/*----------------------- 
this is media quary
----------------------- */
@media only screen and (max-width:688px) {
    .top-bar{
        width: 100%;
    }
    .box-main-div{
        padding: 0;
        justify-content: center;
        align-items: center;
       
    }
    .box-main{
        
        grid-template-columns: repeat(1, 2fr);
        margin: 0;
        flex-direction: column;
        width: 100%;

    }
    .mother-div{
        grid-template-columns: repeat(1, 1fr);
       
        margin-left: 100px;
    }
    .last-contant p {
        width: 50%;
    }
    .footer-div{
        grid-template-columns: repeat(1, 1fr);

    }
    .footer-div img{
        width:50%;
    
}
.top-bar img{
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
}
.headline h1{
    margin-left: 10px;
}
   .topbar-main-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

   }

   html,body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    
}
   .box-section{
    justify-content: center;
    align-items: center;
    place-items: center;
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {


     
    
}